<!-- Navigation Bar
================================================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down">

    <div class="container pr-0">

    <!-- Begin Logo -->
    <a class="navbar-brand" href="{{ site.url }}">
    <img src="{{ site.url }}/{{ site.logo }}" alt="{{ site.title }}">
    </a>
    <!-- End Logo -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMediumish">

        <!-- Begin Menu -->

            <ul class="navbar-nav ml-auto">

                {% if page.url == "/service-request/" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="{{ site.url }}/service-request/">Service Request</a>
                </li>

                {% if page.url == "/blog/" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="{{ site.url }}/blog/">Blog</a>
                </li>

                {% if page.url == "/contact/" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="{{ site.url }}/contact/">Contact</a>
                </li>

                {% include search-lunr.html %}

            </ul>

        <!-- End Menu -->

    </div>

    </div>
</nav>

<!-- Site Title
================================================== -->
<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">{{ site.title }}</h1>
		<p class="lead">
			{{ site.description }}
		</p>
	</div>
</div>
